<%= render "header" %>
<div>
  <h1>Update User</h1>
</div>
<div class="container">
  <p><%= @user.errors.full_messages %> </p>
  <%= form_with model: @user, method: :patch do |f| %>

  <%= render partial: "form", locals: { f: f } %>

  <% end %>
</div>