<%= render "header" %>
<div class="pageTitle">
  <h1><%= t '.title' %></h1>
</div>
<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Followers: </th>
      <th>Following: </th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <%= render partial: "user", locals: { user: user } %>
      </tr>
    <% end %>
  </table>
</div>